<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>BarFlyServer</servlet-name>
		<servlet-class>com.barfly.server.BarFlyServerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewUser</servlet-name>
		<servlet-class>com.barfly.server.NewUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddFriend</servlet-name>
		<servlet-class>com.barfly.server.AddFriend</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddFriends</servlet-name>
		<servlet-class>com.barfly.server.AddFriends</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateEvent</servlet-name>
		<servlet-class>com.barfly.server.CreateEvent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SetEventInfo</servlet-name>
		<servlet-class>com.barfly.server.SetEventInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Invite</servlet-name>
		<servlet-class>com.barfly.server.Invite</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Uninvite</servlet-name>
		<servlet-class>com.barfly.server.Uninvite</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Attend</servlet-name>
		<servlet-class>com.barfly.server.Attend</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddActivities</servlet-name>
		<servlet-class>com.barfly.server.AddActivities</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUser</servlet-name>
		<servlet-class>com.barfly.server.GetUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetEvent</servlet-name>
		<servlet-class>com.barfly.server.GetEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BarFlyServer</servlet-name>
		<url-pattern>/barflyserver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewUser</servlet-name>
		<url-pattern>/newUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddFriend</servlet-name>
		<url-pattern>/addFriend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddFriends</servlet-name>
		<url-pattern>/addFriends</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateEvent</servlet-name>
		<url-pattern>/createEvent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetEventInfo</servlet-name>
		<url-pattern>/setEventInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Invite</servlet-name>
		<url-pattern>/invite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Uninvite</servlet-name>
		<url-pattern>/uninvite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Attend</servlet-name>
		<url-pattern>/attend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddActivities</servlet-name>
		<url-pattern>/addActivities</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUser</servlet-name>
		<url-pattern>/getUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetEvent</servlet-name>
		<url-pattern>/getEvent</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
